<div class="row position-absolute w-100">
    <div class="col-5 top shadow">
        <div class="row">
            <div class="col-2 logo-bg p-1">
                <img class="img-fluid logo" style="width: 20%; height: 60px;" src="../../../assets/enel-logo.png" alt="">
            </div>
            <div class="col-4 topContent m-auto text-center">
                <h5 style="font-size: 1.3vw">
                    Visor Geográfico
                </h5>
            </div>
            <div class="col-6 topContent m-auto text-center">
                <h5 style="font-size: 1.3vw">
                    {{day}} <small>{{month}}</small> | <small id="hourElement"></small>
                </h5>
            </div>
        </div>
    </div>
</div>