<div class="row">
    <div class="col-5 top shadow">
        <div class="row align-items-center">
            <div class="col" style="max-width: 25%">
                <div class="ml-3 mb-1 mt-1">
                    <img class="img-fluid" style="width: 30%" src="../../../assets/enel-logo.png" alt="">
                </div>
            </div>
            <div class="col topContent">
                <h5>Visor Gráfico</h5>
            </div>
            <div class="col topContent">
                <h4>
                    {{day}} <small>{{month}}</small> | <small id="hourElement"></small>
                </h4>
            </div>
        </div>
    </div>
</div>