<div class="col-12 modules-outer-precipitation shadow" style="padding-left: 5px">
    <div class="animated fadeIn moduleFloat dropToolMenu border border-white" style="min-height: 100%; max-height: 100%">
        <!-- Búsqueda y añadir capas -->
        <div class="container mt-3" style="width: 95%;">
            <div class="row p-2 shadow-sm rounded-pill align-items-center itemsWhite">
                <div class="col-10">
                    <input class="form-control p-2 roundedInputSearchLeft" placeholder="&#61447;" type="search" placeholder="Buscar capa" aria-label="Search" #buscarTexto>
                </div>
                <hr>
                <button class="col btn btn-lg ripple roundedInputSearch" type="button" aria-pressed="mixed">
                  <i class="ripple fas fa-search"></i>
                </button>
            </div>
            <div class="row mt-2 p-2 rounded-pill shadow-sm align-items-center itemsWhite">
                <div class="col-1 btn-lg text-left">
                    <i class="fas fa-layer-group"></i>
                </div>
                <div class="col-9 btn-lg text-left">
                    Capas
                </div>
                <button class="col btn btn-lg btn-block ripple roundedInputSearch" aria-pressed="true">
                  <i class="ripple fas fa-plus-circle"></i>
                </button>
            </div>
            <!-- Agregar rasters -->
            <div>
                <div class="col offset-5">
                    <input type="datetime-local" [value]="date_inicio" (input)="date_inicio=$event.target.value">
                    <input type="datetime-local" [value]="date_final" (input)="date_final=$event.target.value">
                    <button (click)='getAggregatedData( this.date_inicio,this.date_final)'>push</button>
                    <p>
                        <button *ngFor="let item of rasters" (click)='changeRaster(item); changeEstaciones()'>{{item.name}}</button>
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="control-zoom btn-group dropleft">
    <button class="control-zoom align-content-center dropdown-toggle" title="Seleccionar zona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="far fa-compass control-zoom-icon"></i>
  </button>
    <div class="dropdown-menu mr-3 overflow-auto" style="max-height: 150px; margin-top: -50px">
        <h6 class="dropdown-header">Zona:</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pointer" (click)="viewColombia()" id="viewColombia">Colombia</a>
        <a class="dropdown-item pointer" (click)="viewEmgesa()" id="viewEmgesa">Emgesa</a>
        <a class="dropdown-item pointer" (click)="viewQuimbo()" id="viewQuimbo">Quimbo</a>
        <a class="dropdown-item pointer" (click)="viewBetania()" id="viewBetania">Betania</a>
        <a class="dropdown-item pointer" (click)="viewRioBogota()" id="viewRioBogota">Río Bogotá</a>
        <a class="dropdown-item pointer" (click)="viewGuavio()" id="viewGuavio">Guavio</a>
    </div>
</div>