<div class="col-12 modules-outer-hidro shadow" style="padding-left: 5px">
  <div class="animated fadeIn moduleFloat dropToolMenu border border-white rounded" style="min-height: 100%; max-height: 50%">
      <!-- Búsqueda y añadir capas -->
      <div class="container mt-3" style="width: 95%;">
          <!-- <div class="row p-2 shadow-sm rounded-pill align-items-center itemsWhite">
              <div class="col-10">
                  <input class="form-control p-2 roundedInputSearchLeft" placeholder="&#61447;" type="search" placeholder="Buscar capa" aria-label="Search" #buscarTexto>
              </div>
              <hr>
              <button class="col btn btn-lg ripple roundedInputSearch" type="button" aria-pressed="mixed">
              <i class="ripple fas fa-search"></i>
          </button>
          </div> -->
          <div class="row mt-2 p-2 rounded-pill shadow-sm align-items-center itemsWhite">
              <div class="col-1 btn-lg text-left">
                  <i class="fas fa-layer-group"></i>
              </div>
              <div class="col-9 btn-lg text-left">
                  Capas
              </div>
          </div>
      </div>
      <!-- Seleccionar la tecnología -->
      <div class="mt-2 shadow-sm">
        <div class="row m-1 border rounded text-justify text-center itemsWhite" style="height: 41px; font-style: normal; font-size: 21px; line-height: 15px; display: flex; align-items: center;">
            <div class="custom-control custom-switch text-center ml-2"  *ngFor = "let item of filterTechnology" style="font-style: normal; display: flex; align-items: center;">
                <input (click)="selectTech($event)" type="checkbox" [id]="item.name" [value]="item.name" class="custom-control-input">
                <label class="custom-control-label inner-class textwrapping" [for]="item.name">{{item.title}}</label>
            </div>
        </div>
        <div class="dropdown itemsWhite rounded  align-drop"> 
            <div class="col btn-lg mb-2 text-center text-justify border rounded pointer dropdown-toggle" style="font-size: 1.2vw" id="buttonPreestablecido"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="buttonPreestablecido">Agente</span>
            </div>
            <div class="dropdown-menu mt-2 overflow-auto" aria-labelledby="buttonPreestablecido" style="width: 100%; max-height: 180px;" id="drop1">
                <a class="dropdown-item pointer" *ngFor="let item of filterAgente"  id="{{item.name}}"  aria-labelledby="buttonPreestablecido"><small>{{item.title}}</small></a>
            </div>
        </div>
     </div>
      
  </div>
</div>