<!--The content below is only a placeholder and can be replaced.-->
<div class="container-12">
    <div class="container-fluid">
        <div class="mapbody">
            <app-body></app-body>
        </div>
        <!-- <div>
            <app-header></app-header>
        </div>
        <div class="row">
            <div style="width: 6%">
                <app-sidebar (activeModule)="changeState($event)"></app-sidebar>
            </div>
            <div style="width: 33%" id="module1">
                <app-modulebase></app-modulebase>
            </div>
            <div style="width: 33%" id="module2">
                <app-modulehidro></app-modulehidro>
            </div>
        </div> -->
    </div>
</div>

<!-- 
<hr> DIEGO
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
    <button>diaria</button>
    <button>mensual</button>
    <div id='weekly-graph'>
    </div>
    <div id=daily-graph></div>
    <div>
        <h1>hola</h1>
    </div>
 -->

<!-- <router-outlet></router-outlet> -->