<div class="row m-1 border rounded pl-2" style="height: 41px;">
    <div class="custom-control custom-switch text-center" style="font-style: normal; display: flex; align-items: center;">
        <input (click)="select(element, $event)" type="checkbox" [id]="element.name" class="custom-control-input">
        <label class="custom-control-label inner-class textwrapping" [for]="element.name" style="font-size: 21px">{{element.title}}</label>
    </div>
    <div class="progress-bar progress-bar-striped progress-bar-animated" id="{{element.name}}-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 5px; display: none;"></div>
</div>