<!-- POPUP -->
<div class="popup popuptext" id="myPopup">
    <div class="container" style="width:fit-content;">
        <div class="row">
            <div class="col popupheader">
                <div class="row justify-content-center popupheadertext">
                    <div class="col-md-auto" style="text-align: left;"><strong>{{this.stationCompany | uppercase}}</strong></div>
                    <div class="col" style="text-align: center"><small>{{this.stationName}}&nbsp;{{this.stationId}}</small></div>
                    <div class="col-md-auto" style="text-align: right"><small>{{this.date}}</small></div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col p-1">
                <table class="table" id="table" *ngIf="showInfo">
                    <thead class="" style="color: #5F5F5F">
                        <th>Sensor</th>
                        <th colspan="2">Último dato</th>
                        <th>Fecha</th>
                    </thead>
                    <tbody id="tbody">
                        <tr (click)="getBigPopup();changeSelection($event, item);displayDataSensor(item)" class="popupbodytext pointer collapseditem" *ngFor="let item of info" id="{{item.nombreSensor}}">
                            <td id="nombreSensor" class="popupbodytext-sensor">{{item.nombreSensor}}</td>
                            <td id="valor" class="popupbodytext-value">{{item.valor}}</td>
                            <td id="unidadSensor" class="popupbodytext-units">{{item.unidadSensor}}</td>
                            <td id="fecha" class="popupbodytext-date">{{item.fecha}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!showInfo">
                    No hay datos para la estación seleccionada
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP EXPANDED (myPopupExpanded + myTimeSeries) style="display: none" -->
<div class="row h-100" style="margin: 0;display: none;" id="myPopupExpandedContainer">
    <div class="col popupheader">
        <div class="row justify-content-center popupheadertext">
            <div class="col-md-auto" style="text-align: left;"><strong>{{this.stationCompany | uppercase}}</strong></div>
            <div class="col" style="text-align: right"><small>{{this.stationName}}&nbsp;{{this.stationId}}</small></div>
            <div class="col" style="text-align: left"><small>{{this.selectedSensor.nombreSensor | titlecase}} [{{this.selectedSensor.unidadSensor}}]</small></div>
            <div class="col-md-auto" style="text-align: right"><small>{{this.date}}</small></div>
            <div class="col-md-auto pointer" style="text-align: left" (click)="closeBigPopup()"><strong>X</strong></div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-4 h-100" style="padding: 0; margin: 0;">
        <!-- myPopupExpanded -->
        <div class="popuptext-expanded" id="myPopupExpanded">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col p-1 h-100">
                        <table class="table">
                            <thead class="" style="color: #5F5F5F">
                                <th>Sensor</th>
                                <th colspan="2">Último dato</th>
                                <th>Fecha</th>
                            </thead>
                            <tbody class="border">
                                <tr (click)="changeSelection($event, item);displayDataSensor(item)" class="popupbodytext pointer expandeditem" *ngFor="let item of info" id="{{item.nombreSensor}}-expanded">
                                    <td id="nombreSensor" class="popupbodytext-sensor">{{item.nombreSensor | titlecase}}</td>
                                    <td id="valor" class="popupbodytext-value">{{item.valor}}</td>
                                    <td id="unidadSensor" class="popupbodytext-units">{{item.unidadSensor}}</td>
                                    <td id="fecha" class="popupbodytext-date">{{item.fecha}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8" style="padding: 0; margin: 0">
        <!-- myTimeSeries -->
        <div class="popuptext-expanded" id="myTimeSeries">
            <app-modulehidro-timeseries></app-modulehidro-timeseries>
        </div>

    </div>
</div>