    .map {
        height: 100%;
        width: 100%;
        padding: 0%;
        position: fixed;
        margin: 0%;
        right: 0px;
    }
    
    .control-zoom {
        bottom: 12%;
        position: fixed;
        left: auto;
        right: 4%;
        background-color: rgba(255, 69, 0, 0.2);
    }
    
    .control-scale {
        bottom: 2%;
        position: absolute;
        left: auto;
        right: 10%;
        background-color: rgba(255, 69, 0, 0.2);
    }
    
    .control-layers-reset {
        height: 28px;
        width: 26px;
        bottom: 12%;
        position: fixed;
        left: auto;
        right: 1.8%;
        /* background-color: rgba(255, 69, 0, 0.2); */
        /* border: 1px solid white; */
        border: none;
        border-radius: 2px;
        padding-bottom: 1px;
        padding-left: 10px;
        background-color: rgba(74, 116, 168, 0.7);
    }
    
    .control-layers-reset:hover {
        height: 28px;
        width: 27px;
        bottom: 12%;
        position: fixed;
        left: auto;
        right: 1.6%;
        /* background-color: rgba(255, 69, 0, 0.2); */
        border: 1px solid white;
        padding-bottom: 1px;
        padding-left: 10px;
        background-color: rgba(74, 116, 168, 1);
    }
    
    .control-layers-icon {
        height: 15px;
        width: 15px;
        margin-left: -5px;
        margin-top: -10px;
        padding: 0%;
        color: white;
    }
    /* TOOLTIP */
    
    .tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* The actual popup */
    
    .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }
    /* Popup arrow */
    
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }
    /* Toggle this class - hide and show the popup */
    
    .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
    /* Add animation (fade in the popup) */
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }