<div id="map" class="map"></div>
<div id="control-scale" class="control-scale"></div>
<div id="control-zoom" class="control-zoom"></div>
<div id="control-layers-reset" class="border border-warning">
    <button (click)="resetLayers();" class="control-layers-reset align-content-center" title="Limpiar mapa">
        <i class="fas fa-spinner control-layers-icon"></i>
    </button>
</div>
<div id="popup" class="ol-popup">
    <a id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"> Hola soy el popup
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th *ngFor="let column of columns">{{column}}</th>
                </tr>
                <tr *ngFor="let item of info">
                    <td>{{ item.estacion}}</td>
                    <td>{{item.sensor}}</td>
                    <td>{{item.fecha }}</td>
                    <td>{{item.valor}}</td>
                    <td><button mat-button color="primary" (click)="initializeChart(item.idestacion,item.sensor)">datos</button></td>
                </tr>
            </tbody>
        </table>
        <!-- <div id='weekly-graph'></div> -->

    </div>
    <!-- <canvas id="canvas">chart</canvas> -->
</div>