<div id="map" class="map"></div>
<div id="control-scale" class="control-scale"></div>
<div id="control-zoom" class="control-zoom"></div>
<div id="control-layers-reset" class="position-fixed">
    <button (click)="resetLayers();" class="control-layers-reset align-content-center" title="Limpiar mapa">
        <i class="fas fa-spinner control-layers-icon"></i>
    </button>
</div>
<div id="myTooltip" class="tooltip tooltiptext overflow-auto" style="max-height: 150px">
    <div *ngFor="let item of tooltipvalue">
        {{item.titulo | uppercase}}: {{item.nombre | uppercase}}
    </div>
</div>